@model IEnumerable<ADOModel.Product>

@{
    ViewData["Title"] = "AddProduct";
}

<h4>products List</h4>

<p>
    @Html.ActionLink("Add New Product", "AddProduct")
</p>
<form class="form-inline" method="post" action="Product/SearchProduct">

    <input type="text" name="SearchText" class="form-control" placeholder="Product Name" />
    <span>Search Category :</span>
    <select name="ProductCategoryId" class="form-control">
        <option value="">Select</option>
        <option value="5">Dairy</option>
        <option value="2">Vehicles</option>
        <option value="3">Electonics</option>
        <option value="4">Books</option>
    </select>
    <span>Price From :</span>
    <input type="number" name="MinRange" class="form-control" />
    <span> To </span>
    <input type="number" name="MaxRange" class="form-control" />
    <input type="submit" class="btn btn-success" />
</form>
<br />
@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                Product Id
            </th>
            <th>
                Product Name
            </th>
            <th>
                Product Price
            </th>
            <th>
                Product CategoryId
            </th>
            <th>
                Date Created
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.ActionLink("EditProduct", "EditProduct", new { id = item.ProductId }) |
                    @Html.ActionLink("DetailProduct", "DetailProduct", new { id = item.ProductId })|
                    @Html.ActionLink("DeleteProduct", "DeleteProduct", new { id = item.ProductId })
                </td>
            </tr>
        }

    </table>

}
else
{
    <h3>No records were found</h3>
}

